$clr-white: #FFFFFF;
$clr-red: #d80027;
$clr-grey: #d8d6d6;
$clr-light-grey: #f3f3f3;
$clr-green: #029352;
$clr-light-green: #1bce7e;

$primary-bg-clr: #ddf6fc;
$primary-text-clr: #000000;

$font-os: "Open Sans Regular", "Arial", "Helvetica", sans-serif;
$primary-font-size: 16px;
$font-weght-normal: 400;
$lineheight: 1.65;
