.offer {
    position: relative;
    display: flex;
    padding: 10rem 0;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__media {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.5);
            z-index: 1;
        }
    }

    &__video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        transform: translate(-50%, -50%);
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        z-index: 0;

    }

    &__content-item {
        flex-basis: calc(50% - 1rem);
        
        &_top {
            text-align: center;
            flex-basis: 100%;
        }

        &_left {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &_right {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: .5rem;
        }
    }

    &__title {
        font-size: 5em;
        color: $clr-white;
    }

    &__image {
        width: 100%;
        object-fit: cover;
    }

    &__list {
        color: $clr-white;
    }

    &__list-item {
        font-size: 18px;
    }

    &__button {
        --txt-clr: white;
        width: 180px;
        font-size: 16px;
        letter-spacing: .2em;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
}
