<ul class="@@moduleClass list">
    <li class="list__item">
        <span class="list__icon"></span>
        <h2 class="list__title"><strong class="list__title list__title_type_strong">Повышает </strong> урожайность</h2>
    </li>
    
    <li class="list__item">
        <span class="list__icon"></span>
        <h2 class="list__title"><strong class="list__title list__title_type_strong">Экологический </strong> чистый продукт</h2>
    </li>
    
    <li class="list__item">
        <span class="list__icon"></span>
        <h2 class="list__title"><strong class="list__title list__title_type_strong">Улучшает </strong> качество плодов</h2>
    </li>
</ul>