.product {
	background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #444cf7, #444cf7 50%, #e5e5f7 50%);
    background-size: 10px 10px;
	padding: 4rem 0;

	&__content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		gap: 4rem;
		flex-basis: calc(33% - .25rem);

		@media (min-width: 769px) {
			flex-direction: row;
		}
	}

	&__content-items {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&__image {
		width: 100%;
		object-fit: cover;
	}
}

.ingredient {
	width: 100%;
	max-width: 300px;
	align-items: center;
	background-color: #fff;
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	gap: .8rem;
	
	@media (min-width: 769px) {
		max-width: 257px;
	}

	&__item {
		
		&_left {
			flex-basis: 0;
		}
		
		&_right {
			flex-basis: calc(100% - 7.5rem);
		}
		
		&_bottom {
			flex-basis: 100%;
		}
	}

	&__icon {
		border-radius: 50%;
		display: block;
		width: 100px;
		height: 100px;
		background-color: gold;
	}

	&__image {
		width: 100%;
		object-fit: cover;
	}

	&__text {
		word-break: break-all;
	}

	&__button {
		--txt-clr: white;
		flex-basis:100%;
		text-align: center;
		width: 100%;
	}
}
