<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>@@title</title>
<meta name="description" content="@@decription">
<meta name="keywords" content="@@keywords">

<!-- <meta name="theme-color" content="#E51073"/> -->
<!-- <link rel="mask-icon" href="mask-icon.svg" color="#000000"> -->
<!-- <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="manifest" href="manifest.json"> -->
<link rel="icon" href="img/logo.png">

<!-- OG Tags -->
<meta property="og:locale" content="@@ogLocale">
<meta property="og:site_name" content="@@ogSiteName">
<meta property="og:description" content="@@ogDescription">
<meta property="og:type" content="@@ogType">
<meta property="og:image" content="@@ogImage">
<meta property="og:title" content="@@ogTitle">
<meta property="og:url" content="@@ogUrl">
<link rel="stylesheet" href="@@stylePath">

<style>
    @font-face {
        font-family: "Open Sans Regular";
        font-style: normal;
        font-weight: 400;
        src: local("Open Sans") url("fonts/OpenSans-Regular.woff") format("woff"), url("fonts/OpenSans-Regular.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Open Sans Bold";
        font-style: normal;
        font-weight: 700;
        src: local("Open Sans") url("fonts/OpenSans-Bold.woff") format("woff"), url("fonts/OpenSans-Bold.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Open Sans ExtraBold";
        font-style: normal;
        font-weight: 800;
        src: local("Open Sans") url("fonts/OpenSans-ExtraBold.woff") format("woff"), url("fonts/OpenSans-ExtraBold.woff2") format("woff2");
        font-display: swap;
    }

    .offer {
        background: url('img/first-screen-bg.webp') no-repeat center center / cover;
    }
</style>
